
*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0.25rem;
    padding-top: 0;
    color: white;
    background-color: black;
    overflow: auto;
}
.note{
    margin: 0.5rem 0;
}

.note-inner{
    background-color: #808080;
    padding: 0.25rem;
}