*{
    margin: 0;
    padding: 0;
    --dark-grey: #333333;
    --neutral-grey: #3c3c3c;
    --lighter-grey: #6f6f6f;
    --light-grey: #b4b4b4;

    --noter-font: Arial, Helvetica, sans-serif;
    --code-font: 'Courier New', monospace;
}

#noter-body{
    color: white;
    overflow-y: auto;
    background-color: black;
    font-family: var(--noter-font);
    width: 600px;
}

.hidden{
    display: none !important;
}
.rounded{
    border-radius: 3px;
}
.flex-left{
    margin-right: auto;
}

/******************************************** scrollbar */
#noter-body::-webkit-scrollbar { width: 7px; }
#noter-body::-webkit-scrollbar-track {
    background: black;/* linear-gradient(black, var(--neutral-grey), black); */
    padding: 1px;
}
#noter-body::-webkit-scrollbar-thumb { 
    background: var(--lighter-grey);
    border: 1px solid black;
}
#noter-body::-webkit-scrollbar-thumb:hover { background: var(--light-grey); }

/********************************************* Popup */
#noter-body #title-bar{
    margin-top: 0.25rem;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    justify-content: flex-end;
}

#noter-body #tools{
    /* padding: 0.25rem 0.5rem 0 0.5rem; */
    border: 2px solid var(--neutral-grey);
    margin: 0.5rem 0.5rem 0 0.5rem;
    
}

#noter-body #title-bar > h2{
    margin-right: auto;
    align-self: center;
}
#noter-body #title-bar > img{
    margin-right: 0.5rem;
    height: 90%;
    width: 20px;
    align-self: center;
}

#noter-body #title-bar > button{
    border: 2px solid var(--neutral-grey);
    border-bottom: 0;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    background-color: var(--neutral-grey);
}
#noter-body #title-bar > button:last-child{
    margin-right: 0.75rem;
}
#noter-body #title-bar .unselected{
    background-color: var(--dark-grey);
    border-bottom: 0;
    background-color: black;
}

#noter-body .top-menu{
    display: flex;
    align-items: center;
    background-color: var(--neutral-grey);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    min-height: 50px;
    background: linear-gradient(var(--neutral-grey), var(--dark-grey));
}

#noter-body input[type='checkbox']{
    width: 20px;
    height: 20px;
    flex-grow: 0;
}
#noter-body .checkboxed{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#noter-body #content{
    padding: 0.5rem;
    padding-bottom: 0;
}

/******* Notes **************/
#noter-body .note{
    background-color: var(--neutral-grey);
    margin-bottom: 0.75rem;
    border-radius: 4px;
}

#noter-body .note div {
    padding: 0.25rem 0.5rem;
}

#noter-body .note-head{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 0.75rem !important;
}
#noter-body .note-head > h4{
    text-overflow: ellipsis;
    flex-wrap: nowrap;    
}


#noter-body input{
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    margin-right: 0.3rem;
    flex-grow: 1;
    outline: none;
    border: none;  
    /* border: 2px solid var(--dark-grey); */
    border-radius: 3px !important;
}

/* Buttons */
#noter-body button{
    padding: 0.25rem 0.5rem;
    margin: 0.2rem;
    min-width: 30px;
    text-align: center;
    background: var(--dark-grey);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
#noter-body button:hover{
    background-color: var(--neutral-grey);
}
#noter-body .btn-dismiss{
    font-size: 16px;
    font-weight: bolder;
    background-color: #9D3E33;
    color: black;
}
#noter-body .btn-dismiss:hover{
    background-color: #b84336;
}

/************* Note body ******/

/*Collapse*/
#noter-body .note-collapse{
    padding: 0 !important;
    overflow-y: hidden;
}
#noter-body .note-collapse.collapsed{
    max-height: 0px;
}

#noter-body .note-inner{
    background-color: #808080;    
}
#noter-body .note-inner .note-text{
    white-space: pre-wrap;
    font-family: var(--code-font);
    margin: 0.2rem 0;
    padding: 0.5rem;
    background-color: white;
    color: black;    
}

#noter-body .note-footer{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#noter-body .note-footer a{
    text-decoration: none;
    color: var(--light-grey);
}

/***************************************** Injected Element */
#tool-tip{
    z-index: 1000;
    position: absolute;
    background-color: black;
    padding: 0.5rem 1rem;
    transform: translate(-50%, -100% ) ;
    color: white;
    border-radius: 2px;      
    filter: drop-shadow(0px 1px 2px var(--neutral-grey) );
}
#tool-tip:after{
    content: '';
    border: 5px solid transparent;
    border-bottom: 0;
    border-top: 10px solid black;
    position: absolute;
    width: 0;
    height: 0;
    top: calc( 100% - 1px );
    left: 50%;
    transform: translateX(-50%)
}
.noter-btn{
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: var(--lighter-grey);
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    transition: all 0.25s;
}
.noter-btn:hover{
    color: black;
    background-color: var(--light-grey);
}
